<div class="row">
  <div class="col s3">
    <app-video-list
      [videos]="dashboardVideos | async"
      [selectedVideoId]="selectedVideo?.id"
      (select)="setSelectedVideo($event)"
    ></app-video-list>
  </div>
  <div class="col s6">
    <app-video-player [video]="selectedVideo"></app-video-player>
  </div>
  <div class="col s3">
    <app-stat-filters></app-stat-filters>
  </div>
</div>
